.TextInput-rapper {
  padding: 0 4rem;
  padding-top: 2rem;
}

.addresses {
  margin-top: 20px;
  overflow-y: auto;
}

.address {
  position: relative;
  min-height: 30px;
}

.address > p {
  padding: 1em 0;
  margin-right: 40px;
  line-height: 1.2;
}
