.AddressModal {
  &-Dimmed {
    /* 레이아웃 - 화면 꽉 채움 */
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    /* 레이어 */
    z-index: 5;

    /* 색상 */
    background: rgba(0, 0, 0, 0.3);
  }
  &-ModalWrapper {
    /* 레이아웃 */
    position: fixed;
    /* 화면 가운대로 정렬 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* 레이어 */
    z-index: 10;

    /* 너비 (기본값 400px) */
    width: 400px;

  }
  &-ModalBox {
    background: white;
    border: 2px solid #949494;
    border-radius: 6px;
    // height: 600px;
  }
  &-TextInput-wrapper {
    padding: 0 4rem;
  }

  &-addresses {
    margin-top: 20px;
    overflow-y: scroll;
    height: 500px;
  }

  &-address {
    display: flex;
    position: relative;
    min-height: 30px;
    justify-content: space-between;
    border-bottom: 1px solid #f1f3f5;
    > p {
      display: inline;
      // padding: 1em 0;
      margin-left: 20px;
      line-height: 1.2;
      font-weight: 400;
      font-size: 13.5px;
    }
    > span {
      margin-top: 15px;
      margin-right: 15px;
      font-weight: 100;
      font-size: 12px;
    }
    &:hover {
      background: #fc7b4841;
      cursor: pointer;
      > p {
        color: #949494;
      }
    }
  }
  &-search-button {
    &:hover {
      color: #949494;
    }
  }
  &-Close {
    color: #949494;
    font-size: 2rem;
    text-align: right;
    margin-right: 20px;
    margin-top: 15px;
  }
}
